<!DOCTYPE html>
<html>
  <head>
    <title>mamba</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Questrial|Roboto:400,500|Raleway:200,400,600" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
